/* Register Form Styling */
/* Form */
.register-form-box {
  width: 100% !important;
  /* border: 3px solid black !important; */
  box-sizing: border-box;
  overflow-y: auto;
}
/* Form Header */
.register-form-h2 {
  width: 20rem;
  text-align: center;
  margin: 4rem auto 1.5rem;
}
/* End Form */

/* Input Field Styling */
/* Input Field Container */
.register-form-input-field-container {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: center;
  gap: 1rem;
}
/* Input Field Text Box  */
.register-form-input-field {
  background-color: white;
}
/* Input Field Double Inline Questions (Country and Product Categories) */
.register-form-input-field-double-inline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
/* Input Field Radio Input  */
.register-form-input-field-radio {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
/* End Input Field Styling */

/* Register Button */
.register-button {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
/* End Register Button */
